*{
	margin: none;
	padding: none;	
}

.vl {
	margin: none;
	border: none;
	border-left: 1px solid black;
	height: 100%;
	padding: none;
	left: calc(50% + 1px);
	position: absolute;
}

.hl {
	border-bottom: 1px solid black;
	width: 100%;
	padding: none;
	top: calc(50% + 1px);
	position: absolute;
}

.vlmid {
	margin: none;
	border: none;
	border-left: 5px solid black;
	height: 100%;
	padding: none;
	left: calc(50%);
	position: absolute;
}

.hlmid {
	border-bottom: 5px solid black;
	width: 100%;
	padding: none;
	top: calc(50%);
	position: absolute;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  display: inline-block;
}

input{
	top: 520px;
}

input[type=submit]
{
	left: 200px;
}
