@import url('https://fonts.googleapis.com/css?family=pixelate|Raleway:300,400&display=swap');

body{
	padding: 0px;
	margin: 0px;
}

*{
	max-width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Raleway;
	text-decoration: none;
}

#main{
	width: 100%;
	min-height: 100%;
	position: absolute;
	display:inline-block;
	
	background-color: #0080c0;
	background-size: cover;
	padding-bottom: 3rem;
}


.navbar{
	margin: 1%;	
	padding: 0 !important;
	margin-top: 2rem;
	padding-left: 1rem !important;
	border-radius: 25px;
	position: relative;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
	padding: 0 !important;
	max-width: 100%;
}

.grid-container{
	display: grid;
	grid-column-gap: 10px;
}

.grid-item{
	background-color: #f8f9fa;
	border-radius: 25px;
	padding: 2rem 4rem;
	margin: 10px;
	min-width: 300px;
	min-height: 100px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item-image{
	min-width: 300px;
	max-width: 400px;
	min-height: 100px;
	
	border-radius: 25px;
	margin: 10px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-item{
	text-align: left;
	background-color: hsla(0, 0%, 0%, 0.1);	
	border-radius: 25px;
	padding: 2rem 4rem;
	margin-bottom: 20px;
}

.news-author-image{
	border-radius: 5px;
	width: 50px;
}

.center{
	position: absolute;
	margin: 0 !important;
	text-align: center;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.return-button{
	border: none;
	border-radius: 25px;
	padding: 0 20px;
}

.enlargen-img{
	width: 30px;
	float:left;
	margin: 0 !important;
	padding: 0 !important;
}

.enlargen{
  	transition: all ease-in-out 0.5s;
	cursor: pointer;
	background-color: #8C9EFF;
	padding: 0 !important;
	margin: 15px 15px;
	
	min-width: 30px;
	max-width: 30px;
	max-height: 30px;
	min-height: 30px;
	border-radius: 25px;
	
    overflow: hidden;
	text-overflow: clip; 
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.enlargen:hover{
  	transition: all ease-in-out 0.5s;
    max-width: 100px;
    width: 100px; 
}

.enlargen:hover .enlargen-text{
	transition: all 1s;
	visibility: visible;
	font-size: 15px;
}

.enlargen .enlargen-text{
	
	overflow: hidden;
	text-overflow: clip; 
	position: absolute;
	padding-top: 5px !important;
	visibility: hidden;
	color:#f8f9fa;
	font-size: 15px;
	text-align:center;
	font-size: 0px;
}

.ip-display{
	cursor: pointer;
	margin: 15px 15px;
	padding: 5px 15px !important;
	border-radius: 25px;
	height: 30px;
	overflow: hidden;
	text-overflow: clip; 
	color:#f8f9fa;
	font-size: 15px;
	text-align:center;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.google-login-button{
	height: 30px;
	border-radius: 25px;
	background-color: white;
	float: right;
	color: black;
	padding: 5px 10px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 15px 15px;
}

.google-image{
	height: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-botom: 2px;
	transform: translateX(0%) translateY(-2px);
}

.logout-button{
	float: right;
	color: black;
	text-decoration: none;
	background-color: white;
	padding: 0 10px;
	border-radius: 25px;
	margin-right: 2%;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-submit{
	background-color: #62d96f;
	border: none;
	border-radius: 25px;
	padding: 2px 15px;
	color: white;
}

.form-submit:disabled{
	background-color: grey;
}

.form-reset{
	background-color: #9e9e9e;
	border: none;
	border-radius: 25px;
	padding: 2px 15px;
	color: white;
}

















