@import url('https://fonts.googleapis.com/css?family=Arimo|Raleway:300,400&display=swap');

iframe{
	position: absolute;
	border: none;
	width: 80%;
	height: 80%;
	margin: 10%;
	margin-top: 5%;
	marign-bottom: 4%;
}