@import url('https://fonts.googleapis.com/css?family=pixelate|Raleway:300,400&display=swap');

#news-box{
	width: 50%;
	height: 20rem;
	margin: 10px 25%;
	background-color: grey;
}

#news-box img{
	width: 50px;
	border-radius: 15px;
}